<!DOCTYPE html>
<style>
    img{
        width: 100%;
    }

    a{
        color: red;
        font-size: 20px;
    }

    a:hover{
        color: blue;
    }
</style>

<html>
    <body>
        <img src="https://www.acciona.com/media/1570746/el-salvador.jpg"></img>
        <p>Hola, {{Nombre}}</p>
        <p>Usted solicit칩 un restablecimiento de contrase침a para su cuenta</p>
        <p>El SRPD te a proporcionado un enlace de recuperaci칩n, por favor vaya a la seguiente direcci칩n de internet</p>
        <a href={{link}}>Enlace</a>
    </body>
</html>